.ant-drawer-body {
    padding: 10 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.ant-tabs-nav-wrap {
    // padding-left: 20px;
}

.job-list-drawer {
    .ant-drawer-content-wrapper {
        min-width: 75vw;
        max-width: 80vw;
    }
    li {
        cursor: pointer;
    }
    li.failed {
        color: red;
    }
    li.successful {
        color: green;
    }
    li:hover {
      background-color: aliceblue;
    }
    li:active, li.selected {
      background-color: #68c8f8;
    }
    .ant-drawer-body {
        padding: 0 !important;
    }
}

.job-drawer {
    .ant-drawer-content-wrapper {
        min-width: 75vw;
        max-width: 80vw;
    }
}