.job-list-drawer {
    .ant-drawer-body {
        padding: 0;
    }
    .ant-drawer-content-wrapper {
        min-width: 75vw;
        max-width: 80vw;
    }
    li {
        cursor: pointer;
    }
    li.failed {
        color: red;
    }
    li.successful {
        color: green;
    }
    li:hover {
      background-color: aliceblue;
    }
    li:active, li.selected {
      background-color: #68c8f8;
    }
}

.job-drawer {
    .ant-drawer-content-wrapper {
        min-width: 75vw;
        max-width: 80vw;
    }
}