.plotter-plot {
  .ant-card-body {
    padding: 0;
  }

  .rule {
    height: 90%;
    position: absolute;
    border-right: 1px dotted #000;
    text-align: right;
  }
}

svg {
  pointer-events: all;

  path.line {
    stroke-width: 2;
  }

  text {
    font-size: 20px !important;
  }
  text.line-marker {
    stroke-width: 4;
  }

  .axis-grid line {
    stroke: rgba(221, 238, 255, 0.5);
  }

  rect:hover {
    border: 1px solid black
  }
}

table.table-raw {
  display: block;
  width: 100%;
  max-height: 70vh;
  overflow: auto;
  padding-bottom: 10px;
  td, th {
    border: 1px solid gray;
  }
}


